@media screen and (max-width: 2600px) {
	.anchor-top {
		left: 1160px;
	}
	.anchor-top-text {
		left: 1165px;
	}
}

@media screen and (max-width: 2200px) {
	.anchor-top {
		left: 960px;
	}
	.anchor-top-text {
		left: 965px;
	}
}

@media screen and (max-width: 1800px) {
	.anchor-top {
		left: 760px;
	}
	.anchor-top-text {
		left: 765px;
	}
}

@media screen and (max-width: 1350px) {
	.anchor-top {
		left: 560px;
	}
	.anchor-top-text {
		left: 565px;
	}
}

@media screen and (max-width: 1199px) {
	h1 {
		font-size: 50px;
	}
	.smaller {
		width: 50%;
	}

	.anchor-top {
		left: 460px;
	}
	.anchor-top-text {
		left: 465px;
	}
}

@media screen and (max-width: 991px) {
	.smaller {
		margin-left: 15%;
	}
	.anchor-top {
		left: 360px;
	}
	.anchor-top-text {
		left: 365px;
	}
	h1 {
		font-size: 40px;
	}
}

@media screen and (max-width: 727px) {
	h1 {
		font-size: 30px;
	}
}
@media screen and (max-width: 767px) {
	.smaller {
		width: 50%;
	}
}

@media screen and (max-width: 528px) {
	h1 {
		font-size: 27px;
	}
	.anchor-top {
		left: 160px;
	}
	.anchor-top-text {
		left: 165px;
	}
	.smaller {
		margin-left: 13%;
	}
}
