@media screen and (max-width: 1199px) {
	h1 {
		font-size: 50px;
	}
	.smaller {
		width: 50%;
	}

	.anchor-top {
		left: 460px;
	}
	.anchor-top-text {
		left: 465px;
	}
}

@media screen and (max-width: 991px) {
	.smaller {
		margin-left: 15%;
	}
	.anchor-top {
		left: 360px;
	}
	.anchor-top-text {
		left: 365px;
	}
}

@media screen and (max-width: 727px) {
	h1 {
		font-size: 30px;
	}
}
@media screen and (max-width: 767px) {
	.smaller {
		width: 50%;
	}
}

@media screen and (max-width: 528px) {
	h1 {
		font-size: 27px;
	}
	.anchor-top {
		left: 160px;
	}
	.anchor-top-text {
		left: 165px;
	}
	.smaller {
		margin-left: 13%;
	}
}
